<section class="row bg-black text-white">
    <div class="col-md-3">
        <h3>SMART SHOP</h3>
        <p>your one stop shop for all your household utilities.we are glab to server our customers </p>
    </div>
    <div class="col-md-3">
        <h3>QUICK LINKS</h3><br>
       <a href="/" class="text-light">home</a><br>
       <a href="/" class="text-light">product</a><br>
       <a href="" class="text-light"> about us</a><br>
       <a href="/register" class="text-light">contact</a><br>


    </div>
    <div class="col-md-3">
        <h3>CONTACT US</h3>
        <p>Email:support@vv.com</p>
        <p>phone:+855(123)123-123</p>
        <p>adress:nv pp yg ng</p>
    </div>
    <div class="col-md-3">
        <h3>FOLLOW US</h3>
        <a href="">
   <img src="../static/images/x.png" alt="twitter" width="30" height="30">
   </a>
       <a href=""> <img src="../static/images/fb.png" alt="facebook" width="30" height="30">
        </a>
        <img src="../static/images/in.png" alt="instagram"width="30" height="30">
       
    </div><br>
    <hr class="m-4" style="height: 8px; color:antiquewhite">
    <p class="text-center">&copy; All rights Reserved|<b>Privacy Policy</b></p>

</section>