<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <script src="../static/js/bootstrap.js"></script>
</head>
<body>
    {%   include 'navbar.html' %}
    <b class="text-success"> {{ message }}</b>
    <b class="text-danger"> {{ error }}</b>
    
        <form action="/login" method="POST">
        <label for="">Email</label>
        <input type="email" class="form-control" name="email" required> <br>
      <label for="">Password</label>
      <input type="password" class="form-control" name="password" required> <br>
    <button type="submit" button class="btn-primary">Login</button>
    <a href="/register">Don't have an A?Click to Register</a><br>
      
    
</body>
</html>
